.why-page {
  background-color: #412b14;
  align-items: center;
  /* padding: 5rem 0; */
  margin: 0px;
  width: 100%;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 10px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.6);
  margin: 1rem;
  width: 10rem;
  min-height: 140px;
}

.blockText {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.El2h1 {
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
/* EL1.css */
.hero-container {
  background-image: url("../images/hero.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top 35%;
  height: 52rem;
  width: 100%;
  display: flex;
}

.hero-block,
.hero-block1 {
  display: flex;
  text-align: center;
  height: 10rem;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 27rem;
  align-content: center;
}

.hero-title {
  font-family: Aclonica;
  color: #613d2a;
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}

.hero-salary-text {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  color: red;
}

.salary-text {
  font-family: "Montserrat", sans-serif;
  font-size: 3.1rem;
}

.el-hr {
  width: 7rem;
  position: absolute;
  left: 14.5rem;
  border: 2px solid red;
  top: 3.9rem;
  transform: rotate(15deg);
  transform-origin: 0 0;
}
.el-hr1 {
  width: 7rem;
  position: absolute;
  left: 14.3rem;
  border: 2px solid red;
  top: 5.7rem;
  transform: rotate(-15deg);
  transform-origin: 0 0;
}
