.landing-page {
  background-color: #412b14;
  padding: 40px 0;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 10px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.6);
  margin: 20px;
  max-width: 604px;
  min-height: 140px;
}

.blockText {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.El2h1 {
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
}
